<style type="text/css">
	html {
	  position: relative;
	  min-height: 100%;
	}
	body {
	  /* Margin bottom by footer height */
	  margin-bottom: 60px;
	}
	.footer {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here */
	  height: 60px;
	}
</style>

<div class="container-fluid footer" style="background-color:#272e3a; padding-top: 20px; padding-bottom: 20px;">
	<footer>
		<div class="container">
			<div class="row" style="color: white;">
				<div class="col-md-12 col-sm-12">
					Some Footer Text. Copyright © 2017. Sherwin Dapito.
				</div>
			</div>
		</div>
	</footer>
</div>