

<!--
<nav class="nav navbar navbar-dark navbar-BG fixed-top">
  <div class="container">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/chat/home">Chat Project</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs">
          <a href="/chat/home">
            Home 
          </a>
        </li>
        <li class="dropdown hidden-xs">
          <% if(locals.login){%>
            <a class="dropdown-toggle" data-toggle="dropdown" 
            role="button" aria-expanded="false">Settings
              <span class="caret"></span>
            </a>
          <%} else {%>
            <a href="/users/login">Login</a>
          <%}%> 

          <ul class="dropdown-menu" role="menu">
            <% if(locals.login){ %>
              <li><a href="/chat/rooms/create">Create Chat Room</a></li>
              <li class="divider"></li>
              <li><a href="/users/logout">Logout</a></li>
            <%}%>
          </ul>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1" >
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-md visible-xs">
          <a href="/chat/home">
            Home 
          </a>
        </li>
        <li class="dropdown hidden-md visible-xs">
          <% if(locals.login){%>
            <a class="dropdown-toggle" data-toggle="dropdown" 
            role="button" aria-expanded="false">Settings
              <span class="caret"></span>
            </a>
          <%} else {%>
            <a href="/users/login">Login</a>
          <%}%> 

          <ul class="dropdown-menu" role="menu">
            <% if(locals.login){ %>
              <li><a href="/chat/rooms/create">Create Chat Room</a></li>
              <li class="divider"></li>
              <li><a href="/users/logout">Logout</a></li>
            <%}%>
          </ul> 
        </li>  
      </ul>
    </div>

  </div>
</nav>
-->


<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <button class="navbar-toggler mt-2" type="button" data-toggle="collapse" data-target="#navCollapseContent" aria-controls="navCollapseContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-uppercase" href="/" style="font-size: 16px !important; letter-spacing: 2px; ">Chat Project</a>

      <div class="navbar-collapse collapse"  id="navCollapseContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item d-md-none d-lg-none d-none d-sm-block d-block social-min">
            <hr>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/chat/home">Home</a> 
          </li>
          <li class="nav-item dropdown">
            <% if(locals.login){%>
              <a class="dropdown-toggle nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings
                <span class="caret"></span>
              </a>
            <%} else {%>
              <a href="/users/login" class="nav-link">Login</a>
            <%}%> 

            <div class="dropdown-menu" role="menu">
              <% if(locals.login){ %>
                <a href="/chat/rooms/create" class="dropdown-item">Create Chat Room</a>
                <a href="/users/logout" class="dropdown-item">Logout</a>
                
              <%}%>
            </div> 
          </li> 
        </ul>
      </div>
  </div>
</nav>